<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


<!-- 로고 이미지와 프로필 사진, 닉네임 -->
<div class="mainTitle">
    <a href="/"><div class="mainLogo">
        <!-- <img rel="logoImg" src="#"> -->
    </div></a>
    <div class="mainProfile">
        <a id="mainMyPage" href="/user/login"><img id="mainProfileImg" src="https://i.namu.wiki/i/HWL5tg8hqagW8dHBBJMbOoYdEGvyQAkbki_50A0NUXHaluRcIYWcJfnMVWN9xWM3bDb1-8NbirkdubZ3niZcWhOqGFOESg2RClcEeJcvjaB3fSZY324Yi8_9yXYfL1eRZ5xRZP4ucYxLGAxi0DKX_A.webp" /></a>
        <p id="mainNickname">로그인</p>
    </div>
</div>
<!-- 네비게이션 -->
<div class="border border-secondary rounded">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item dropdown border-right border-primary">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">팀</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/team/KIA_TIGERS">KIA 타이거즈</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/SAMSUNG_LIONS">삼성 라이온즈</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/LG_TWINS">LG 트윈스</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/DOOSAN_BEARS">두산 베어스</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/KT_WIZ">KT 위즈</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/SSG_LANDERS">SSG 랜더스</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/LOTTE_GIANTS">롯데 자이언츠</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/HANWHA_EAGLES">한화 이글스</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/NC_DIONS">NC 다이노스</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team/KIWOOM_HEROS">키움 히어로즈</a>
            </div>
        </li>
        <li class="nav-item border-right border-primary">
            <a class="nav-link" href="/playerlist" >선수</a>
        </li>
        <li class="nav-item">
            <a id="loginButton" class="nav-link" href="/user/signup">회원가입</a>
        </li>
    </ul>
</div>

<script>
    // 페이지 로딩 전 실행
    $(document).ready(function() {
        //로그인 확인
        $.ajax({
            type: "GET",
            url: "/api/session",
            data: {},
            success: function(response) {
                //로그인 상태면 True
                if(response['logged_in']) {
                    //네비게이션 로그인/로그아웃 변경
                    $('#loginButton').text('로그아웃');

                    //로그아웃 api 요청
                    $('#loginButton').on('click', function(e) {
                        e.preventDefault(); // 새로고침 방지
                        //로그아웃 API 요청
                        $.ajax({
                            type: "POST",
                            url: "/user/api/logout",
                            data: {},
                            success: function(response) {
                                alert(response['msg']);
                                window.location.href = '/';
                            }
                        });
                    });
                    
                    //닉네임 표시
                    $('#mainNickname').text(response['nickname']);
                    
                    //동적 생성되는 마이페이지로 가는 링크 
                    //주소는 /user/<id>
                    $('#mainMyPage').attr('href', '/user/' + response['id'])

                    //프로필 이미지 DB요청
                    $.ajax({
                        type: "GET",
                        url: "/api/getUserImg",
                        data: {},
                        success: function(response) {
                            $('#mainProfileImg').attr("src", response['img']);
                        }
                    });

                }
            }
        });

        
    });
</script>