</html>


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale=1.0 />
    <!-- 이 부분은 부트스트랩을 불러오기 위한 코드입니다. : Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>팀페이지 제작 html</title>
    <!-- 이 부분은 index.css를 불러오는 코드입니다.-->    
    <link rel="stylesheet" href="/static/css/index.css">
    <style>
        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            gap: 10px;
        }
        body {
            padding: 20px;
        }
        .team-section {
            display: flex;
            border: 2px solid black;
            padding: 20px;
            margin-bottom: 30px;
        }
        .team-section img {
            width: 200px;
            height: 200px;
            margin-right: 30px;
        }
        .card-section {
            display: flex;
            margin-right: 10px;
            margin-left: 10px;
        }
        .card-box {
            border: 2px solid black;
            width: 50%;
            height: 200px;
            padding: 10px;
            margin: 10px;
        }
        .schedule-box,
        .community-box {
            border: 2px solid black;
            height: 150px;
            padding: 10px;
            margin-bottom: 20px;
        }
        .card-body {
            margin: 20px;
        }
        #pImg {
            width: 240px;
            height: 320px;
            margin: 10px;
        }
    </style>
    <!-- 이 부분은 jQuery와 bootstrap 번들 코드로 자바스크립트 코드를 임포트 합니다. . -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        {%include'./header.html'%}
        <br>
        <!--개인 세부페이지 들어갈 곳-->
        <div class="card mb-4">
            <div class="row no-gutters">
                <div class="col-md-3"> <!--프로필 사진-->
                    <img id="pImg" src="{{ player['img'] }}" class="card-img" alt="{{ player['name'] }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{player['name']}}</h2>
                        <p class="card-text">
                            <h5>생년월일: {{player['birth']}}</h5>
                            <h5>투타: {{player['toota']}}</h5>
                            <h5>등번호: {{player['number']}}</h5>
                            <h5>신체정보: {{player['spec']}}</h5>
                            <h5>팀 이름: {{player['team_name']}}</h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 페이지 중간 정보 공간 -->
        <div id="middle">
                <!--선수 기사 들어갈 곳-->
                <div class="all" style="white-space: nowrap;">
                    <div class="list-group" style="max-width: 540px; max-height: 300px; overflow: scroll; ">
                        {% for article in player['news']%}
                            {% if article.title and article.link and article.content and article.image %}
                            <a href="{{article.link}}"><img style="background-size:cover;" src="{{article.image}}" class="list-group-item list-group-item-action"></img>
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">"
                                        <p href="{{article.link}}" target="_blank">{{article.title}}</p></h5>
                                </div>
                                <p class="mb-1">{{article.content}}</p>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

        </div>
        <br>

        
            <div class= "player-clips-list">
                <div class = "video-item"  style="width: 100%; max-height: 300px; overflow-y: scroll; display: inline-block; "
                id="video_clips">{{player_clips}}</div>
                <!-- 선수 클립 리스트가 들어갈 곳-->
            </div>





            <!--명완 커뮤니티 기능 -->

        <!-- 댓글상자 들어갈 곳"> </iv> -->
        <div class="card border-primary mb-3" style="width: auto;">
            <div class = card-header><strong><span class="comment-nickname" id="comment_nickname">{{nickname}}</span></strong></div>
            <p><textarea class="card-body text-secondary" style="width: 100%; height: 6.25em; border: none; resize: none;" id="comment_content" placeholder="댓글을 입력하세요."></textarea></p>
            <div>
                <button onclick="postComment()" style="width: 100px; float:inline-end;" class=" btn btn-primary btnComment" id="comment_button"
                    type="button">등록</button>
            </div>
                <div class="list-group"  style="width: 100%; max-height: 300px; overflow-y: scroll; display: inline-block; ">
                <div class="comment-list text-muted" id="list_content"></div>
                   <!-- 댓글 리스트가 들어갈 곳 -->
        </div> 
    </div>
    <script>
        function postComment() {
            let dataComment = $('#comment_content').val().trim();
            // console.log(dataComment);
            // let temp_html = `<textarea> ${dataComment}</textarea>`;
            // let player_id = $('#comment_button').data('pId');
            // 현재 URL 경로 예: /team/KT_WIZ/playerId=97351
            let path = window.location.pathname;

            // 정규표현식으로 URL에서 playerId 추출
            let match = path.match(/playerId=(\d+)/);
            let pId = match ? match[1] : null;

            console.log("플레이어 아이디:", pId);

            //정규표현식으로 URL에서 teamName 추출
            let team_match = path.match(/\/team\/([^/]+)/);
            let teamName = team_match ? team_match[1] : null;
            
            console.log("플레이어 아이디:", teamName);
          
            //로그인 세션 api 요청하는 부분
            $.ajax({
                type: 'GET',
                url: `/api/session`,
                data: {},
                success: function (response) {
                    if (response['logged_in'] == true) {
                        // 선수 댓글 작성 api 요청하는 부분
                        $.ajax({
                            type: 'POST',
                            url: `/team/${teamName}/playerId=${pId}/comment`,
                            data: { 'comment': dataComment, 'pId': pId, 'teamName' :teamName },
                            success: function (response) {
                                if (response['result'] == 'success') {
                                    alert(response['msg'])
                                    // 선수페이지로 리디렉션 (제자리 리디렉션)
                                    window.location.href = response['url'];
                                }
                                else {
                                    alert(response['msg'])
                                }
                            }
                        });
                    }
                    else {
                        alert(response['msg'])
                        window.location.href = response['url'];  // 로그인 페이지로 리디렉션
                    }
                }
            });
        }


         function load_comments() {

            // 정규표현식으로 URL에서 playerId 추출
            let match = path.match(/playerId=(\d+)/);
            let pId = match ? match[1] : null;

            console.log("플레이어 아이디:", pId);

            //정규표현식으로 URL에서 teamName 추출
            let team_match = path.match(/\/team\/([^/]+)/);
            let teamName = team_match ? team_match[1] : null;
           

            //DB에서 선수별 댓글 추출 API 요청하는 부분
            $.ajax({
                type: 'GET',
                url: `/team/${teamName}/playerId=${pId}/comment`,
                data: {},
                success: function(response) {
                    if(response['result'] == 'success') {
                        // console.log("응답 성공했음")
                        // DB에서 추출한 값을 응답으로 받음
                        let comments = response['comments'];
                        
                         // 데이터 받기전 기존 댓글 삭제
                        $("#list_content").empty();

                        // 배열안을 순회하는 함수
                        comments.forEach((cmt) => {
                        let temp_html =`
                        <div class="comment-items">
                            <p><strong> ${cmt.nickname}</strong> <small>${cmt.date}</small> </p>
                            <p> ${cmt.comment}</p> <hr>
                            </div>
                         `;
                            $("#list_content").append(temp_html);
                        })
                        
                        
                    
                    } 
                }  
            });
        }

        // <!-- 새로고침시 댓글함수 호출 (댓글유지) -->
        $(document).ready(function() {
            load_comments();
        });
    </script>
</body>
</html>